*{
	font-family: 'Open Sans';
}

.counter-container{
	display: flex;
	flex-direction: column;
	height: auto;
	text-align: center;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: 700px;
	margin-right: 700px;
	margin-top: 200px;
}

.counter-container .text-container p{
	font-size: 2.5em;
}

.counter-container .image-container i{
	font-size: 7em;
	color: #00B5E2;
}

@media screen and (max-width: 1500px){
	.counter-container{
		display: flex;
		flex-direction: column;
		margin-left: 4px;
		margin-right: 4px;
	}

}
